#input{
    display: flex;
	justify-content: space-around;
	align-items: center;
}
.ketidakteraturan, .luaskawasan, .persyaratanteknis, .keterjangkauan, .kualitaspermukaan, .ketersediaanaksesair, .tidakterpenuhinyaair, .ketidakmampuan, .ketidaktersediaandrainase, .kualitaskonstruksi, .sistempengolahanair, .sapraspengolahanair, .sapraspersampahan, .sistempengelolaan, .ketidaktersediaanprasarana, .ketidaktersediaansarana{
margin-bottom: 3px;
}

